{% extends "layout.html" %}

{% block javascript %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='displayname.js') }}"></script>
{% endblock %}


{% block body %}
<div class="channels"></div>
    
<div class='createChannel'>
    <input id='createChannel' placeholder="Channel Name" type="text">
    <button id='createChannel-submit'>Create Channel</button>
</div>
{% endblock %}
