<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block javascript %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="page-content" style="flex: 1 0 auto;">
            <div class="container">
                <div id="displayName"></div>
                <br>
                <div class='displayName'>
                    <input id="display" autocomplete="off" autofocus placeholder="Display Name" type="text">
                    <button id='newDisplayName'>Enter Name</button>
                </div>
                    <button id='updateDisplayName'>Change Display Name</button>
                <hr>
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        {% endblock %}
    </body>
</html>
